
/* padding */
.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

/* input styles */
label{
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
}
input{
    padding: 0.25rem;
}


/* main page styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns of equal width */
    grid-template-rows: repeat(2, auto);
    /* 2 rows with automatic height */
    gap: 1rem;
    /* Space between grid items */
    margin: 0 4rem;
    /* Space on the sides */
}

.grid-item {
    padding: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
